.App{
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  --accentColor: #ff206e;
  font-family: 'Lato', sans-serif;
}

.light .App{
  background: white; 
  color:black;
}
.dark .App{
  background: #0c0f0a ;
  color:white;
}

.justify-content-flex-end{
  justify-content:flex-end;
}

ul.pagination-desktop{
  position: fixed;
  z-index: 100;
  right: 17px;
  list-style: none;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top:25vh;
}

ul.pagination-mobile{
  position: fixed;
  z-index: 100;
  right: 1%;
  list-style: none;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 1%;
  align-items: center;
  padding-left: 0px;
}

ul > li.active{
  transform:scale(2);
  color: inherit !important;
}

li.active > i{
  border-bottom: 2px solid var(--accentColor);
  padding-bottom: 2px;
}

ul.pagination-desktop > li{
  cursor: pointer;
  margin: 10px;
  transition: transform 300ms ease-in-out 0s;
}

ul.pagination-mobile > li{
  padding: 10px;
  transition: transform 300ms ease-in-out 0s;
  margin: auto;
}

ul.pagination-desktop > li:hover:not(.active){
  color:var(--accentColor);
  transform: translateY(-3px);
  transition: transform 100ms ease-in-out 0s;
}

.current-main-element{
  height:100%
}

.mobile > .row > .col{
  padding: 0 10%;
}

.mobile > .row > .col.home-page-mobile{
  padding: 5% 10%;
}

.mobile-img-container{
  display: flex;
  justify-content:center;
  align-content: center;
  margin-bottom: 10%;
}

.mobile{
  display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}

.container{
  max-width: 750px;
}

.day-night-toggle{
  position: absolute;
  right:5%;
  top:5%;
  width:5%
}

.day-night-toggle-mobile{
  position: absolute;
  right:5%;
  top:10%;
  width:5%
}

#profile-pic-desktop {
  height: 70%;
  position: absolute;
  top: 15%;
  border-radius: 15vh;
}

#profile-pic-mobile{
  width: 80%;
}

.footer {
  position: absolute;
  bottom: 1%;
  display: flex;
  justify-content: center;
  max-width: 100%;
  transition: bottom 500ms ease-in-out .2s;
}

.footer a{
  color:inherit;
}

.footer >.row >.col i{
  padding: 0 1em;
  transform:scale(1.5);
}

.footer-hide-top{
  bottom:40%;
  transition: bottom 500ms ease-in-out .7s;
}

.footer-hide-top > .row > .col > a > i{
  padding: 0 2em;
  transition: bottom 100ms ease-in-out 0s;
}

.display-none{
  display: none;
}

.fp-controlArrow.fp-prev{
  left:10vw !important
}

.fp-controlArrow.fp-next{
  right:10vw !important
}

.display-flex{
  display: flex;
}

.light div.fp-controlArrow.fp-next{
  border-color: transparent transparent transparent black;
}

.light div.fp-controlArrow.fp-prev{
  border-color: transparent black transparent transparent;
}

.home-page-desktop{
  height: 100%;
  width: 50%;
  justify-content: center;
  align-content: center;
}

.flex-direction-column{
  flex-direction: column;
}

.tech-list-items{
  padding: 0 10%;
}

.fp-slidesNav.fp-bottom{
  display: flex;
  justify-content:center;
  align-content:center;
  bottom: 10% !important;
}

.dark .fp-slidesNav.fp-bottom>ul>li>a > span{
  background:white
}

.light .fp-slidesNav.fp-bottom>ul>li>a > span{
  background:black
}

.experience-heading{
  position: absolute;
  width:100%;
  top: 15%;
}

.card{
  margin:.5em;
  height:50vh;
  border:inherit
}

.card-body>div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dark .card-body{
  background-color: #0c0f0a !important;
}

.dark .card-body a.project-link{
  color: white !important
}

.light .card a.project-link{
  color: black !important
}

.card a{
  margin-right: 10%
}
.card a >i{
  transform: scale(1.25)
}

.card p{
  overflow-y: auto;
  max-height: 30vh;
}

.dark .card-footer{
  background-color: #222;
}

.dropdown-active{
  text-decoration-line: underline
}

.dropdown-toggle{
  white-space:normal;
}

.portfolio-heading{
  position: fixed;
  left: 5%;
  top: 5%;
}
.portfolio-heading h2{
  font-family: 'Saira', sans-serif;
  font-weight: 900;
}
.accent-style, a{
  color: var(--accentColor);
}
.desktop-footer .col:hover{
  transform: translateY(-3px);
  transition: transform 100ms ease-in-out 0s;
  color: var(--accentColor);
  height: 135%;
}

.underline-style{
  text-decoration: var(--accentColor) underline 
}

.cursor-pointer{
  cursor: pointer;
}

p{
  text-align:justify;
}

.align-self-center{
  align-items: center;
}

.blink_me {
  animation: blinker 1s linear 5;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#dropdown-basic{
  background-color: inherit;
border: inherit;
box-shadow: none !important;
color: inherit;
}

.description-enter {
  opacity: 0;
  transform: scale(0.9);
}
.description-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.description-exit {
  opacity: 1;
}
.description-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}