.justify-content-flex-end{
  justify-content:flex-end;
}

.position-sticky{
  position: sticky;
}

.onepage-pagination{
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.button-acting-like-a{
  background: inherit;
  border: none;
}

.justify-content-right{
  justify-content: flex-end;
}

.header-navbar{
  display: flex;
  justify-content: center;
}

.header-navbar>nav{
  width: 100%;
  max-width: 50em;
}

.nav-link, .nav-link:hover{
  background-color: inherit;
  border:none;
  color:white !important;
}

.navbar-brand{
  padding:0 1em;
  color:white !important;
}

.navbar-toggle{
  color: inherit;
  border-color: inherit;
  outline:none
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.fa-align-justify, .fa-times{
  color:white;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    text-align: center;
    padding: 1em 0;
  }
}

.navbar-nav {
  padding: 0 1em;
}

#pagination{
  margin-top: -32px;
  top: 50%;
  position: fixed;
  z-index: 100;
  right: 17px;
}

li.active{
  transform:scale(1.5)
}

.current-main-element{
  height:100%
}